@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);

p, h1, h2, h3, h4, a, td {
    font-family: 'Poiret One';
    font-weight: 400;
}

div.centralpane {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

div.heading {
    margin-left: 0%;
    padding-left: 10px;

}

.heading h1 {
    font-size: 2em;
    text-align: left;
}

h3 {
    font-weight: 400;
    font-size: 1.5em;
}

p {
    font-size: 1em;
    font-weight: 300;
}

#categories {
    position: fixed;
    margin-left: 0%;
    padding-left: 0%;
}

#content {
    width: 70%;
    margin-left: 25%;
    display: inline-block;
    vertical-align: top;
}

#categories h3 {
    text-align: left;
    width: 50%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 5px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 1.5em;
}

#content h3, h4, p {
    text-align: left;
    font-family: 'Raleway';
}

div.repo {
    
}

.openstack_repos > div {
    display: inline-block;
    vertical-align: top;
}

#openstack > div {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}

tr:nth-child(even) {
    background-color: #E7E7E7;
}

table {
    border-collapse:collapse;
    border-radius: 5px;
    background-color: #C7C7C7;        
}

div#personal {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

div#personal_descriptions {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

#personal > div {
    display: inline-block;
    width: 160px;
    margin-right: 5px;
    padding: 0px;
    vertical-align: top;
    text-align: center;
}

#personal_repos {
    display: inline-block;
    width: 40%;
}

#personal_descriptions > p {
    text-align: left;
    display: none;
}

#personal h4 {
    text-align: center;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#personal img {
}

tr {
    width: 100%;
}

td {
}

#openstack h4 {
    text-align: center;
}

#content h4 {
    font-variant: small-caps;
}
